/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.slider .slides {
    background-color: #fff;
}

.tabs.tabs-transparent {
    background-color: transparent;
    width: 1280px;
}

@media only screen and (max-width: 1280px) {
    .tabs.tabs-transparent {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .tabs.tabs-transparent {
        display: none;
    }
}

nav .brand-logo.left img {
    height:80px;
    margin-top:24px;
    padding:0 80px
}

@media only screen and (max-width: 992px) {
    nav .brand-logo.left img {
        height:40px;
        margin-top:8px;
        margin-bottom: -8px;
        padding:0 16px
    }
    
    nav .brand-logo.right {
         display: none;
    }
}

.side-nav {
    width: 40%;
}

nav.nav-extended {
    z-index: 2;
}

@media only screen and (max-width: 992px) {
    nav.nav-extended {
        top: 0;
    }
    
    nav.nav-extended .nav-wrapper {
        height: 64px;
    }

    .container {
        margin-top: 64px;
    }

    .slider {
        margin-top: 64px;
    }
}

@media only screen and (min-width: 993px) {
    toc-wrapper {
        white-space: nowrap;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

/*Map*/
#map {
    height: 220px;
    width: 100%;
}

// Class for when element is above threshold
.pin-top {
    position: relative;
}

// Class for when element is below threshold
.pin-bottom {
    position: relative;
}

// Class for when element is pinned
.pinned {
    position: fixed !important;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); */
  /* image replacement properties */
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}
.no-touch .cd-top:hover {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 993px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

.slider .indicators .indicator-item.active {
    background-color: #e53935;
}

.tabs.tabs-transparent .indicator {
    background-color: #e53935;
}

hr {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#CCC), to(#CCC), color-stop(50%, #333));
}
